<div class="form-group">
    <label class="control-label col-sm-2" ng-bind="label"></label>
    <div class="col-sm-5">
        <input type="number" class="form-control" ng-model="fieldValue" placeholder="Enter password" ng-required="required">
    </div>
    <div class="col-md-1">
        *
    </div>
    <div ng-if="(fieldValue < minVal || fieldValue > maxVal) && fieldValue != ''" class="col-md-3 alert-danger">
        Error Occured
    </div>
    <div ng-if="fieldValue == ''" class="col-md-3 alert-danger">
        Please enter data
    </div>
</div>