<html>
<head>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script src="../lib/angular-translate.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-app="promiseApp" ng-controller="promiseCtrl">
	<h1>{{ 'TITLE' | translate:'BUTTON_LANG_EN' }}</h1>
	<p>{{ 'PARA' | translate:'BUTTON_LANG_DE' }}</p>
	<button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
	<button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
</body>
</html>